body{
	background-color:maroon;
}
.box-outer{
    padding:30px;
}
.resume-box{
	width: 800px;
	height: 1000px;
	margin: 0 auto;
	background-color: white;
}
.box-1{
	background-color: #26252d;
	width: 35%;
	float: left;
	height: 1000px;
}

.box-2{
	width: 60%;
	float: left;
	padding: 20px;
}
.box-1 .profile{
	width: 100%;
}
.box-1 .content{
	padding: 20px;
}
h1{
	color: #ceced1;
    font-family: system-ui;
    font-weight: 300;
    text-transform: uppercase;

}
p{
	color: #ceced1;
    font-family: system-ui;
    font-weight: 300;
    font-size: 14px;
   
}

.box-1 #progress1 {
    background: #333;
    border-radius: 13px;
    height: 8px;
    width: 100%;
    padding: 3px;
}

.box-1 #progress1:after {
    content: '';
    display: block;
    background: orange;
    width: 70%;
    height: 100%;
    border-radius: 9px;
}
.box-1 #progress2 {
    background: #333;
    border-radius: 13px;
    height: 8px;
    width: 100%;
    padding: 3px;
}

.box-1 #progress2:after {
    content: '';
    display: block;
    background: orange;
    width: 80%;
    height: 100%;
    border-radius: 9px;
}
.box-1 #progress3 {
    background: #333;
    border-radius: 13px;
    height: 8px;
    width: 100%;
    padding: 3px;
}
.box-1 #progress3:after {
    content: '';
    display: block;
    background: orange;
    width: 80%;
    height: 100%;
    border-radius: 9px;
}

.box-1 #progress4 {
    background: #333;
    border-radius: 13px;
    height: 8px;
    width: 100%;
    padding: 3px;
}

.box-1 #progress4:after {
    content: '';
    display: block;
    background: orange;
    width: 90%;
    height: 100%;
    border-radius: 9px;
}
.box-2 .intro{text-align: center;}
.box-2 .intro h1{
	font-size: 40px;
	font-weight: bold;
	color: #26252d;

}
.box-2 .intro .hr{
	height: 15px;
    border: none;
    background-color: yellow;
    margin: -45px 20px;
}
.box-2 .intro .clearfix{
    clear: both;
}
.box-2 .intro .address{
	color: #7d7d7d;
    font-family: system-ui;
    font-weight: 300;
    font-size: 15px;
    margin-top: 13%!important;
    font-weight: 400;
}
.box-2 .intro p{
	color: #7d7d7d;
    font-family: system-ui;
    font-weight: 300;
    font-size: 15px;
    margin-top: -5px;
    font-weight: 400;
}
.box-2 .content-2{
	padding-top: 40px;
}
.box-2 .content-2 .head{
	color: #26252d;
    font-family: system-ui;
    font-weight: 400;
    text-transform: uppercase;
    margin:0px;
}
.box-2 .content-2 .para-1{
	font-size: 16px;
    text-transform: uppercase;
    color: #26252d;
    font-weight: 400;
    margin: 5px 0px;
    margin-top: 10px;
}
.box-2 .content-2 .para-2{
	font-size: 14px;
	text-transform: initial;
    color: #7d7d7d;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
}